[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/for/*"]
	read = group mdb/copybara-git-readers
[access "refs/tags/*"]
	forgeAuthor = group mdb/copybara-git-writers
	forgeCommitter = group mdb/copybara-git-writers
[capability]
	gerrit-google-manageUsersGet = group mdb/copybara-git-readers
        viewAllAccounts = group mdb/copybara-git-readers
